<p-card header="Perfil do Usuário">
    <ng-container *ngIf="user">
      <div class="p-grid p-align-center">
        <div class="p-col-12">
          <p><strong>Nome de Usuário:</strong> {{ user.username }}</p>
        </div>
        <div class="p-col-12">
          <p><strong>Senha:</strong> {{ user.password }}</p>
        </div>
        <div class="p-col-12">
          <p><strong>Papel:</strong> {{ role }}</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="role === 'ROLE_ADMIN'">
      <p-button>Lista de usuários</p-button>
    </ng-container>
    <ng-container *ngIf="!user">
      <div class="p-text-center">
        <p>Usuário não autenticado</p>
      </div>
    </ng-container>
  </p-card>
<div class="profile-container">
    <button (click)="home()">HOME</button><br/>
</div>